<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <title>Kakao 지도 시작하기</title>
  <script type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=[카카오API키]"></script>
  <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"></script>
  <script type="text/javascript"
          src="/js/map.js"></script>
</head>
<body>
  <div style="width:1000px;height:600px;" id="map" />
  <script>
    $( document ).ready(function() {
      var mapContainer = document.getElementById('map');
      mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 12
      };

      var map = new kakao.maps.Map(mapContainer, mapOption);
      init(map);
      drawPolygon();
    });
  </script>
</body>
</html>